@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

i{
    color: white;
    font-size: 21px;
}
header{
    background-color: rgb(0, 134, 255);
padding-top: 10px;
}

.primeiro-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(0, 134, 255);
}

.primeiro-menu img{
    height: 20px;
}

.busca input{
    margin: 10px;
    height: 35px;
    width: 92%;
    border: 0px;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-left: 10px;
}
hr{
    background-image: linear-gradient( to right, rgb(255, 251, 0), rgb(255, 0, 0), rgb(204, 0, 255), rgb(0, 132, 255), rgb(0, 255, 0) );    
    height: 5px;
    border: 0px;
}

main .produto{
    display: flex;
    margin-top: 40px;
    justify-content: center;
}


main .produto img{
    height: 350px;
}

main h2{
    margin-top: 15px;
    margin-left: 12px;
    font-family: 'Roboto', sans-serif; 
    font-size: 23px;
    color: rgba(0, 0, 0, 0.856);
}

main .avaliacao{
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    gap: 5px;
}

main .avaliacao i{
    color: rgb(252, 208, 0);
    font-size: 14px;
}
main .avaliacao p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.856);
}

.preco{
    margin-left: 10px;
    margin-top: 15px;
}

.preco p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgba(51, 51, 51, 0.89);
}

.preco h3{
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.856);
}

.distribuição{
    display: flex;
}

.distribuição p{
    margin-left: 10px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgba(51, 51, 51, 0.89);
}

.containercartao{
    border: 2px;
    border-style: groove;
    border-width: 2px;
    margin: 15px;
    background-color: rgb(255, 255, 255);
}
.containercartao .cartao{
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgba(31, 30, 30, 0.89);
}

.containercartao .divisao{
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgba(31, 31, 31, 0.89);
}